/* formkit styles */
.formkit-form {
  @apply mt-12;
}

.formkit-inner {
  @apply my-3 relative;
}

.formkit-label::after,
.formkit-legend::after {
  content: "*";
  @apply text-torch-red;
}

.formkit-option > .formkit-wrapper > .formkit-label::after {
  content: "";
}

.formkit-options {
  @apply flex gap-24;
}

.formkit-option > .formkit-wrapper {
  @apply flex items-center gap-3;
}

button[type="submit"] {
  @apply bg-primary-blue-ribbon text-neutral-white py-4 mt-12 text-center rounded-lg;
}

button[type="submit"] {
  @apply w-full;
}

button[name="confirm appointment"] {
  @apply px-8;
}

.formkit-message {
  @apply text-xs text-torch-red;
}

.formkit-file-remove {
  @apply ml-2 text-base text-torch-red;
}

input,
select,
textarea {
  @apply w-full text-neutral-dusty-gray px-6 py-3 border-[1px] rounded-lg bg-transparent resize-none focus:outline-none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
select:focus {
  @apply outline-none;
}

.formkit-icon > svg {
  @apply w-6 h-6 text-neutral-dusty-gray absolute right-3 top-3;
}

option {
  @apply text-neutral-dusty-gray;
}

/* vue toastification styles */
.Vue-Toastification__container {
  @apply items-center;
}

.Vue-Toastification__toast {
  @apply bg-white border-2 min-w-fit w-16 text-neutral-dusty-gray px-8 py-4 font-sans rounded-[40px] shadow-variant2 !important;
}

.Vue-Toastification__toast--success {
  @apply bg-white border-success !important;
}

.Vue-Toastification__toast--error {
  @apply bg-white border-error !important;
}

.Vue-Toastification__toast-body {
  @apply inline-block font-semibold text-xl !important;
}

/* vue date picker */

.dp__active_date {
  @apply bg-primary-blue-ribbon text-neutral-white rounded-full font-sans !important;
}

.dp__action_button {
  @apply bg-primary-blue-ribbon text-white p-2 font-medium !important;
}

.dp__menu {
  @apply border-neutral-gallery bg-white rounded-2xl !important;
}
.dp__flex_display {
  @apply flex flex-col !important;
}

.dp__menu_inner {
  @apply px-6 py-4 !important;
}

.dp__month_year_wrap,
.dp__inner_nav {
  @apply text-base font-semibold text-neutral-mine-shaft !important;
}

.dp__month_year_row {
  @apply mb-6;
}

.dp__calendar_header {
  @apply text-neutral-dusty-gray text-xs font-medium uppercase !important;
}

.dp__calendar_header_item {
  @apply text-left !important;
}

.dp__calendar_header_separator {
  @apply hidden !important;
}

.dp__action_row {
  @apply hidden !important;
}
